.standard[role='layout']
  display: flex
  flex-direction: column
  min-height: 100vh

  .body-wrap
    display: flex
    flex-direction: row
    flex: 1
    align-items: stretch

  .primary-sidebar
    display: none

  .body-wrap > main
    flex-grow: 1
    min-width: 0

  @media screen and (min-width: '800px')
    .primary-sidebar
      display: block
      flex-basis: var(--sidebar-width)
      flex-shrink: 0
      flex-grow: 0
      position: relative
      border-right: var(--stroke) solid var(--black)
