.council-leas
  margin-bottom: 3rem

  h2
    font-size: var(--t3)
    font-weight: 600
    padding: 1rem 0 0.5rem
    border-bottom: var(--stroke) solid var(--black)
    margin-bottom: 0

.color-swatch
  display: inline-block
  width: 1.2rem
  height: 1.2rem
  border-radius: 2px
  border: 1px solid rgba(0,0,0,0.2)
  vertical-align: middle
  flex-shrink: 0
