.primary-footer
  border-top: var(--stroke) solid var(--black)
  padding: 1.5rem 2rem
  font-size: var(--t5)
  color: var(--black)

  .footer-inner
    max-width: 800px

    a
      color: var(--blue)
      text-decoration: none

      &:hover
        text-decoration: underline
